<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='slick-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='templatemo-new-vision.css') }}">
{% block header %}{% endblock %}

</head>
<section class="content">
  <body>
        <div class="container-fluid">
          <div class="tm-site-header">
              <div class="row">
                  <div class="col-12 tm-site-header-col">
                    <div class="tm-site-header-right">
                          <h1 class="tm-site-name">Cortex {% block name %}{% endblock %}</h1>
                      </div>
                      <div class="tm-site-header-left tm-menu-container-outer">
                          
                          <!--Navbar-->
                          <nav class="navbar navbar-expand-lg">
                          
                          
                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse tm-nav" id="navbarSupportedContent1">
                          
                              <!-- Links -->
                              <ul class="navbar-nav mr-auto">
                
                                  <a class="nav-link tm-nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    
                              </ul>
                              <!-- Links -->
                          
                            </div>
                            <!-- Collapsible content -->
                          
                          </nav>
                          <!--/.Navbar-->
                      </div>

                  </div>
              </div>
          </div>
          <main>

        {% block content %}{% endblock %}
          </main>
        </div>
        
  </body>
  
</section>