{% extends 'base.html' %}
{% block name %}- Journey of {{user_name}}{% endblock %}
{% block header %}

  <script>
    function getAllSnaps()
    {
        return JSON.parse({{ snapshots | tojson }})
    }

  </script>
  <script >
  // load the objects like you would with a normal jinja template i.e. {{ object }}, but add | tojson
  // pass it into the parse function
    snapshot_number=0
    loaded_img = 0
    all_snapshots = getAllSnaps()
      
    function update()
    {
        var date = new Date(0)
        date.setUTCMilliseconds(all_snapshots[snapshot_number].time)
        document.getElementById("date").innerHTML = date.toGMTString() + " ( " + date.getMilliseconds() + " ms)"
        document.getElementById("color_image").src = all_snapshots[snapshot_number]['color_image']+'/data';
        document.getElementById("depth_image").src = all_snapshots[snapshot_number]['depth_image']+'/data';

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response_json = JSON.parse(this.responseText)
                document.getElementById("hunger").innerHTML = response_json.hunger
                document.getElementById("thirst").innerHTML = response_json.thirst
                document.getElementById("exhaustion").innerHTML = response_json.exhaustion
                document.getElementById("happiness").innerHTML = response_json.happiness
           
            }
        };
        xhttp.open("GET", all_snapshots[snapshot_number].feelings, true);
        xhttp.send();

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response_json = JSON.parse(this.responseText)
                px = response_json.px
                py = response_json.py
                pz = response_json.pz
                rx = response_json.rx
                ry = response_json.ry
                rz = response_json.rz
                rw = response_json.rw

                document.getElementById("px").innerHTML = px
                document.getElementById("py").innerHTML = py
                document.getElementById("pz").innerHTML = pz
                document.getElementById("rx").innerHTML = rx
                document.getElementById("ry").innerHTML = ry
                document.getElementById("rz").innerHTML = rz
                document.getElementById("rw").innerHTML = rw
          
            }
        };
        xhttp.open("GET", all_snapshots[snapshot_number].pose, true);
        xhttp.send();

        
    }

    function loaded(){
      loaded_img += 1

      if (trigger == 1 && loaded_img>= 2 && snapshot_number<all_snapshots.length)
      {
        loaded_img=0
        next()
      }

    }

    function reset() {
        trigger = 0
        snapshot_number = 0
        update()
    }

    function next() {
        snapshot_number+=1
        if (snapshot_number>=all_snapshots.length)
        {
            snapshot_number = all_snapshots.length
        }
        update()
    }

    function back() {
        trigger = 0
        snapshot_number-=1
        if (snapshot_number<=0)
        {
            snapshot_number = 0
        }
        update()
    }

    function play() {
        
        trigger = 1
        next()

        }
        
        


    </script>

{% endblock %}


{% block content %}

          <div class="row">
            <div class="column2" style="max-width: 100%">
              <textbox id="date"></textbox>
            </div>
          </div>
          <div class="row">
            <div class="column2" style="max-width: 100%">
              <button type="button" onclick="reset()" class="data-buttons " > reset </button>
              <button type="button" onclick="back()" class="data-buttons "> previous </button>
              <button type="button" onclick="play()" class="data-buttons " > play </button>
              <button type="button" onclick="next()" class="data-buttons " > next </button>
            </div>
          </div>
          <div class="row">
            <div class="column2">
              <img id="color_image" class="result-image" onload="loaded()" />
            </div>
            <div class="column2">
             <img id="depth_image" class="result-image"  onload="loaded()"/>
            </div>
          </div>
          <div class="row">


              <div class="column3">
                  <div class="row">
                    <h4>Feelings: </h4>
                  </div>
              
                  <div class="row">
                    <label>Hunger:&nbsp;</label>
                    <textbox id="hunger"></textbox>
                  </div>
                  <div class="row">
                    <label>Thirst:&nbsp;</label>
                    <textbox id="thirst"></textbox>
                  </div>
                  <div class="row">
                    <label>Exhaustion:&nbsp;</label>
                    <textbox id="exhaustion"></textbox>
                  </div>
                  <div class="row">
                    <label>Happiness:&nbsp;</label>
                    <textbox id="happiness"></textbox>
                  </div>
              </div>

              <div class="column3">
                  <div class="row">
                    <h4>Position: </h4>
                  </div>
              
                  <div class="row">
                    <label>X:&nbsp;</label>
                    <textbox id="px"></textbox>
                  </div>
                  <div class="row">
                    <label>Y:&nbsp;</label>
                    <textbox id="py"></textbox>
                  </div>
                  <div class="row">
                    <label>X:&nbsp;</label>
                    <textbox id="pz"></textbox>
                  </div>
              </div>
            
              
              <div class="column3">
                  <div class="row">
                    <h4>Rotation: </h4>
                  </div>
              
                  <div class="row">
                    <label>X:&nbsp;</label>
                    <textbox id="rx"></textbox>
                  </div>
                  <div class="row">
                    <label>Y:&nbsp;</label>
                    <textbox id="ry"></textbox>
                  </div>
                  <div class="row">
                    <label>Z:&nbsp;</label>
                    <textbox id="rz"></textbox>
                  </div>
                  <div class="row">
                    <label>W:&nbsp;</label>
                    <textbox id="rw"></textbox>
                  </div>
              </div>
            </div>
{% endblock %}