{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Journey of {{user_name}}{% endblock %}</h1>

  <script>
    function getAllSnaps()
    {
        return JSON.parse({{ snapshots | tojson }})
    }

  </script>
  <script >
  // load the objects like you would with a normal jinja template i.e. {{ object }}, but add | tojson
  // pass it into the parse function
    snapshot_number=0
    all_snapshots = getAllSnaps()

    var previous_x = []
    var previous_y = []
    var previous_z = []
    
    function drawPlot(x, y, z)
    {
      
    
        
        console.log([x.toString()])
        var trace_current = {
          x:[x.toString()], y: [z.toString()],
          mode: 'markers',
          name: 'current',
          marker: {size: y*200},
          type: 'scatter'
        };

        var trace_previous = {
          x:previous_x, y: previous_z,
          mode: 'markers',
          name: 'previous',
          marker: previous_y,
          type: 'scatter'
        };


        traces = [trace_current, trace_previous]


        var data = traces;

        Plotly.newPlot('myDiv', data);

        previous_x.push(x.toString())
        previous_z.push(z.toString())
        previous_y.push(y*200)
      
    }
    function update()
    {
        document.getElementById("color_image").src = all_snapshots[snapshot_number]['color_image']+'/data';
        document.getElementById("depth_image").src = all_snapshots[snapshot_number]['depth_image']+'/data';

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response_json = JSON.parse(this.responseText)
                document.getElementById("hunger").innerHTML = response_json.hunger
                document.getElementById("thirst").innerHTML = response_json.thirst
                document.getElementById("exhaustion").innerHTML = response_json.exhaustion
                document.getElementById("happiness").innerHTML = response_json.happiness
           
            }
        };
        xhttp.open("GET", all_snapshots[snapshot_number].feelings, true);
        xhttp.send();

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response_json = JSON.parse(this.responseText)
                px = response_json.px
                py = response_json.py
                pz = response_json.pz
                drawPlot(px, py, pz)
            }
        };
        xhttp.open("GET", all_snapshots[snapshot_number].pose, true);
        xhttp.send();

        
    }
    function next() {
        snapshot_number+=1
        if (snapshot_number>=all_snapshots.length)
        {
            snapshot_number = all_snapshots.length
        }
        update()
    }

    function back() {
        snapshot_number-=1
        if (snapshot_number<=0)
        {
            snapshot_number = 0
        }
        update()
    }
        


    </script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

{% endblock %}


{% block content %}

      <header>
        <section class="wrapper style1">
        <div class="inner">
   
          <img id="color_image" class="result-image" />
          <img id="depth_image" class="result-image" />
          <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
        
          <label>Hunger:</label>
          <textbox id="hunger"></textbox>
       
          <label>Thirst:</label>
          <textbox id="thirst"></textbox>
        
         
          <label>Exhaustion:</label>
          <textbox id="exhaustion"></textbox>
         
          <label>Happiness:</label>
          <textbox id="happiness"></textbox>
          
        </div>
    </section>

      </header>
      
      <button type="button" style="height:40px;width:40px" onclick="back()" > &lt; </button>
        ---
      <button type="button" style="height:40px;width:40px" onclick="next()" > &gt; </button>
       
    
 
{% endblock %}